.project>img{
    width:350px ;
    height: 179px;
}
.project{
    margin: 15px;
    width: 350px;
    height: 179px;
    transition:transform 100ms ease-in ;
}
.project:hover{
    color:white;
    background-color: blue;
    transform: scale(1.05);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.project__content{
    padding: 10px;

}
.project__content  > h4{
    padding-bottom: 5px;

}
.project__content>p{
    font-size: 15px;
}
@media (max-width: 768px) {
  .projectcontainer__projects {
    width: 90vw;
    flex-direction: column;
    align-items: center;
  }

  .project {
    width: 90%;
    height: auto;
    margin: 10px 0;
    text-align: center;
  }

  .project > img {
    width: 100%;
    height: auto;
  }

  .project__content > p {
    font-size: 14px;
  }
}

