.topContainer{
    background: url("../../assets/back1.avif");
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow:inset 0 0 0 2000px rgba(0, 0,0,0.5);
}
@media (max-width: 768px) {
  .topContainer {
    height: auto; /* Allows content to define height */
    padding: 40px 20px;
    background-position: top;
    background-size: cover;
  }
}